#poppins{
    background-image: url(/images/poppins.png);
}

#poppins-neu{
    background-image: url(/images/poppins-neu.png);
}

#kinderausflug{
    background-image: url(/images/kinderausflug.png);
}

#biofrisch{
    background-image: url(/images/biofrisch.png);
}

#hotel{
    background-image: url(/images/hotel.png);
}

#golfclub{
    background-image: url(/images/golfclub.png);
}

#ph-wallis{
    background-image: url(/images/ph-wallis-1.png);
}

#disco{
    background-image: url(/images/disco.png);
}